* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* credit to @ateweb */
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

:root {
  /* Logo colors  */
  --g-blue: #4285f4;
  --g-red: #ea4335;
  --g-yellow: #fbbc05;
  --g-green: #34a853;
}

/* Automatic dark mode  */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #333335;
    --primary-help: rgb(41, 40, 40);
    --text: #faf5f5de;
    --grey-text: #ebf0f5;
    --grey-text2: rgb(241, 235, 235);
    --dot-color: #a39f9f;
    --user-shadow: rgba(103, 105, 103, 0.664);
    --search-bar-border: #dfe1e5;
    --search-bar-shadow1: rgba(207, 205, 205, 0.925);
    --search-bar-shadow2: rgba(212, 208, 208, 0.918);
    --search-bar-focus1: rgba(207, 205, 205, 0.877);
    --search-bar-focus2: rgba(211, 203, 203, 0.829);
    --lupa: #e9e0e0;
    --btn-hover1: rgba(240, 231, 231, 0.842);
    --btn-hover2: rgba(240, 230, 230, 0.863);
    --btn-color: #e7ebee;
    --footAndBtns: rgb(243, 234, 234);
    --borders: rgb(151, 142, 142);
    --links: rgb(149, 133, 238);
    --footer: rgb(230, 220, 220);
    --footer-border: #959599;
    --footer-color: rgba(170, 163, 163, 0.171);
    --background: rgb(26, 25, 25);
  }
}

[data-theme="light"] {
  /* Light theme colors */
  --primary: #f8f9fa;
  --primary-help: #fff;
  --text: #000000de;
  --grey-text: #70757a;
  --grey-text2: #444;
  --dot-color: #666565;
  --user-shadow: rgba(206, 209, 206, 0.664);
  --search-bar-border: #dfe1e5;
  --search-bar-shadow1: rgba(207, 205, 205, 0.2);
  --search-bar-shadow2: rgba(109, 107, 107, 0.19);
  --search-bar-focus1: rgba(207, 205, 205, 0.2);
  --search-bar-focus2: rgba(109, 107, 107, 0.19);
  --lupa: #918f8f;
  --btn-hover1: rgba(78, 78, 78, 0.2);
  --btn-hover2: rgba(102, 101, 101, 0.19);
  --btn-color: #3c4043;
  --footAndBtns: black;
  --borders: grey;
  --links: #1a0dab;
  --footer: rgb(32, 32, 32);
  --footer-border: #dadce0;
  --footer-color: rgba(161, 161, 161, 0.171);
  --background: #fff;
}

[data-theme="dark"] {
  --primary: #333335;
  --primary-help: rgb(41, 40, 40);
  --text: #faf5f5de;
  --grey-text: #ebf0f5;
  --grey-text2: rgb(241, 235, 235);
  --dot-color: #a39f9f;
  --user-shadow: rgba(103, 105, 103, 0.664);
  --search-bar-border: #dfe1e5;
  --search-bar-shadow1: rgba(207, 205, 205, 0.925);
  --search-bar-shadow2: rgba(212, 208, 208, 0.918);
  --search-bar-focus1: rgba(207, 205, 205, 0.877);
  --search-bar-focus2: rgba(211, 203, 203, 0.829);
  --lupa: #e9e0e0;
  --btn-hover1: rgba(240, 231, 231, 0.842);
  --btn-hover2: rgba(240, 230, 230, 0.863);
  --btn-color: #e7ebee;
  --footAndBtns: rgb(243, 234, 234);
  --borders: rgb(151, 142, 142);
  --links: rgb(149, 133, 238);
  --footer: rgb(230, 220, 220);
  --footer-border: #959599;
  --footer-color: rgba(170, 163, 163, 0.171);
  --background: rgb(26, 25, 25);
}

body {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: var(--grey-text-2);
  background-color: var(--background);
}

.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
}

.navbar > a:hover {
  text-decoration: underline;
}

.nav_item_left {
  font-size: 14px;
  padding: 5px;
  color: var(--text);
  text-decoration: none;
}

.nav_item_right {
  font-size: 13px;
  padding: 0 0 0 15px;
  color: var(--text);
  text-decoration: none;
}

.nav_item_left1 {
  margin: 0 5px 0 15px;
}

.nav_item_left2 {
  margin: 0 auto 0 5px;
}

#menu_shadow {
  margin: 15px 10px 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#menu_shadow:hover {
  background-color: #a8acac2c;
}

#menu {
  cursor: pointer;
  position: absolute;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--dot-color);
}

#user_shadow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 5px 10px 5px 0;
}

#user_shadow:hover {
  background-color: var(--user-shadow);
}

#user_photo {
  height: 32px;
  width: 32px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  max-height: 290px;
  height: calc(100vh - 290px * 1.9);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 58px;
  margin: 15px;
}

.logo > h2 {
  font-family: "Product Sans";
  font-weight: 600;
  margin: 1px;
}

#l1,
#l4 {
  color: var(--g-blue);
}
#l2,
#l6 {
  color: var(--g-red);
}

#l3 {
  color: var(--g-yellow);
}
#l5 {
  color: var(--g-green);
}

#l6 {
  transform: rotatez(-22deg) translate(-4px, -2px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 15px;
}

.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 580px;

  background-color: var(--primary-help);
  border: 1px solid var(--search-bar-border);
  border-radius: 24px;
  max-width: 584px;
}

.search_bar:hover {
  box-shadow: -1px -1px 0 1px var(--search-bar-shadow1),
    2px 2px 3px 1px var(--search-bar-shadow2);
}
.search_bar:focus-within {
  box-shadow: -1px -1px 0 1px var(--search-bar-focus1),
    2px 2px 3px 1px var(--search-bar-focus2);
}

#search_input {
  border: none;
  width: 88%;
  height: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 100;
  background-color: var(--primary-help);
  color: var(--text);
}

.search_bar > span {
  display: flex;
}

#lupa {
  padding: 2px 10px 0 15px;
  min-height: 20px;
  min-width: 20px;
  fill: var(--lupa);
}

#mic {
  padding-right: 15px;
  cursor: pointer;
  min-height: 24px;
  min-width: 24px;
}
.search_btns {
  height: 70px;
  padding: 18px 0 0;
}
.btn:hover {
  box-shadow: 1px 1px 0 1px var(--btn-hover1), -1px -1px 0 1px var(--btn-hover2);
}

.btn {
  padding: 0px 16px;
  margin: 11px 4px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  color: var(--btn-color);
  font-size: 14px;
  line-height: 27px;
  height: 34px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.lang_options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang_options > a {
  padding: 0 3px;
  text-decoration: none;
  color: var(--links);
}

.lang_options > a:hover {
  text-decoration: underline;
}

h5 {
  font-size: 13px;
  color: var(--footer);
  font-weight: 300;
  padding: 0 3px;
}

.white_space {
  display: flex;
  flex-grow: 1;
}

.dark_mode {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.dark_mode > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 15px;
  padding: 5px;
  margin: 25px 35px;
  border: 2px solid var(--btn-color);
  border-radius: 2px;
}

.switch > div {
  border-radius: 1px;
}

.black_line {
  height: 5px;
  border: 3px solid rgb(26, 25, 25);
}
.white_line {
  height: 5px;
  border: 3px solid #fff;
}

.region {
  display: flex;
  height: 47px;
  align-items: center;
  border-bottom: 1px solid var(--footer-border);
  background-color: var(--footer-color);
}

.region > h5 {
  font-size: 15px;
  color: #0000008a;
  color: var(--grey-text);
  font-weight: 100;
  padding: 15px 30px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  height: 47px;
  padding: 0 20px;
  align-items: center;
  background-color: var(--footer-color);
}

.footer > a:hover {
  text-decoration: underline;
}

.footer_item {
  color: var(--grey-text);
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}

.footer_item_left4 {
  margin-right: auto;
}
